*{margin: 0; padding: 0; font-size: 24px; color: #fff;}
a{color: #333; text-decoration: none;}
li{list-style: none;}
table{border-spacing: 0;}
.clearfix::before,.clearfix::after {display: none; content: ''; clear: both;}

#all{width: 1200px; margin: 0px auto;}

#top{text-align: center;}
#top .logo{float: left; width: 200px; height: 100px; line-height: 100px; background: #999;}
#top .menu{float: right; width: 1000px; height: 100px; line-height: 100px; background: #888;}

#banner{text-align: center; height: 400px; line-height: 400px; background: #777;}

#contents{text-align: center;}
#contents > div{float: left; width: 33.333333%;}
#contents > div.cont1{background: #666; height: 247px;}
#contents > div.cont2{background: #555; height: 247px; line-height: 247px;}
#contents > div.cont3{background: #444; height: 247px; line-height: 247px;}

.tab-menu{padding: 10px;}
.tab-menu .tab-btn {}
.tab-menu .tab-btn ul{overflow: hidden;}
.tab-menu .tab-btn li{float: left; width: 160px; background: #666; text-align: center; margin-right: -1px;}
.tab-menu .tab-btn li.active {text-decoration: underline;}
.tab-menu .tab-btn li a {padding: 10px; display: block; color: #fff;}
.tab-menu .tab-cont{padding: 20px; background: #666; text-align: left;}

#footer{height: 100px; line-height: 100px; text-align: center;}
#footer .foot1{float: left; width: 200px; background: #555;}
#footer .foot2{float: left; width: 800px; background: #444;}
#footer .foot3{float: left; width: 200px; background: #333;}