*{margin: 0; padding: 0; font-size: 20px; color: #fff;}
a{margin: 0px auto; color: #333;}
li{list-style: none;}
table{border-spacing: 0;}
.clearfix::before,.clearfix::after {display: block; content: ''; clear: both;}

#all{margin: 0px auto; width: 1200px;}

#top{text-align: center;}
#top .logo{float: left; width: 200px; height: 100px; line-height: 100px; background: #999;}
#top .menu{float: right; width: 1000px; height: 100px; line-height: 100px; background: #888;}

#banner{position: relative; width: 1200px; height: 360px; overflow: hidden; text-align: center; background: #777; margin: 0 auto;}
#banner img{width: 100%; display: block;}
#banner h2{
    position: absolute; left: 50%; top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    padding: 10px 30px;
}

.slider{position: relative;}
.slider > div {position: absolute; left: 0; top: 0;}
.slider > div img {width: 100%;}
.slide {width: 1200px; position: absolute; left: 0; top: 0; height: 360px;}

#contents{text-align: center;}
#contents > div {float: left; width: 33.333333%; height: 247px; line-height: 247px;}
#contents .cont1 {background: #666;}
#contents .cont2 {background: #555;}
#contents .cont3 {background: #444;}

#footer {text-align: center; height: 100px; line-height: 100px;}
#footer .foot1 {float: left; width: 200px; background: #333;}
#footer .foot2 {float: left; width: 800px; background: #222;}
#footer .foot3 {float: left; width: 200px; background: #111;}